/* global css */
/* @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-5: #f4f4fc;
  --primary-50: #e1e0f7;
  --primary-100: #c1bff6;
  --primary-200: #a6a3ef;
  --primary-300: #9592e8;
  --primary-400: #8683db;
  --primary-500: #6864d4;
  --primary-600: #625eda;
  --primary-700: #534edc;
  --primary-800: #4a45da;
  --primary-900: #352fdc;

  --primary2-50: #f6d1b8;
  --primary2-100: #ffcead;
  --primary2-200: #f8c5a2;
  --primary2-300: #fab98e;
  --primary2-400: #f5b285;
  --primary2-500: #efab7d;
  --primary2-600: #e8a374;
  --primary2-700: #da9669;
  --primary2-800: #d18f63;
  --primary2-900: #cf7d47;

  --primary3-50: #fffae6;
  --primary3-100: #fdf5d4;
  --primary3-200: #faefc4;
  --primary3-300: #fbeebc;
  --primary3-400: #fdf0bb;
  --primary3-500: #f9e79e;
  --primary3-600: #fbe797;
  --primary3-700: #fce690;
  --primary3-800: #fae488;
  --primary3-900: #ffd119;

  /* grey */
  --grey-5: #fdfdfd;
  --grey-30: #f7f7f7;
  --grey-50: #efefef;
  --grey-70: #d3d3d3;
  --grey-100: #b3b3b3;
  --grey-200: #a0a1a0;
  --grey-300: #8d8e8d;
  --grey-400: #7a7b7a;
  --grey-500: #666867;
  --grey-600: #545554;
  --grey-700: #414342;
  --grey-800: #3a3c3b;
  --grey-900: #343534;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --white-no-dark: #fff;
  --off-white: #d2d2d2;
  --red: #f7606f;
  --red-light: #f8d7da;
  --red-dark: #a54f57;
  --green-light: #d1e7dd;
  --green: #00a04d;
  --green-dark: #0f5132;
  --white-overlay: #fafafa03;

  --small-text: 0.775rem;
  --extra-small-text: 0.7em;

  /* BORDER STYLE */
  --round-radius: 2rem;
  --border-radius: 0.5rem;
  --border-radius-inner: 0.3rem;
  --input-radius-round: 3rem;
  --input-radius-rounded: 0.6rem;
  --button-round-radius: 3rem;
  --button-square-radius: 0.8rem;
  /* LETTER STYLE */
  --letter-spacing: 1px;
  --transition: 0.1s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --fluid-width: 90vw;
  --nav-height: 4rem;

  /* navbar-styling */
  --spacing: 1px;
  --radius: 0.25rem;

  /* navbar shadow */
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.2);

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /* LIGHT MODE: */
  /* BTN LIGHT */
  --btn-text-color: #414342;

  /* COMPONENTS: ALL TRENDS LIGHT */
  --card-background: var(--white);
  --card-highlight: var(--grey-50);
  --border-color: var(--grey-50);
  --small-card-bottom-row: var(--white);
  --selector-main-color: var(--white);
  --selector-dropdown-main-color: var(--white);
  /* TREND PAGE LIGHT */
  --select-small-color: var(--white);
  --select-small-dropdown-color: var(--white);
  --content-row-component-highlighted: var(--primary-5);
  --content-row-component: var(--primary-100);
  --content-row-component-item: var(--primary-50);
  --content-box-highlighted: var(--primary-5);
  --code-box-background: var(--primary-5);
  --code-box-border-color: var(--primary-400);
  --code-box-text-color: var(--primary-600);
  /* ADD TREND MODAL LIGHT*/
  --add-trend-modal-color: var(--white);
  /* PROFILE LIGHT */
  --dropdown-background: var(--white);
  --dropdown-background-hover: var(--grey-50);
  /* AREA CHART LIGHT */
  --color-under-the-line1: #0800ff;
  --color-under-the-line2: #e976c7;
  --line-color: #4541de;
  /* BAR CHART LIGHT */
  --bar-chart-color1: #4541de;
  --bar-chart-color2: #e976c7;
  --bar-chart-tool-tip: #f6f6f6;
  --bar-chart-highlight: var(--primary2-50);
  /* FLASH CHART LIGHT (TrendFlashChart)*/
  --flash-chart-color1: #4541de;
  --flash-chart-color2: #e976c7;
  --flash-chart-line-color: #4541de;
  --tool-tip-background: #f6f6f6;
  --admin-btn-icons: var(--grey-500);
  --admin-btn-icons-hover: var(--primary-500);
  --admin-btn-icons-active: var(--primary-700);
  /* TOAST LIGHT*/
  --toast-success-background: #f5f5f5;
  --toast-border-color: #f5f5f5;
  --toast-text-color: #242424;
  /* FILTER MOBILE LIGHT */
  --filter-btn-color: #f7f7f7;
  --filter-btn-border-color: #dedede;
  --filter-btn-highlighted: var(--primary-200);
  --filter-btn-border-highlighted: var(--primary-300);
  --tech-item-background-color: var(--white);
  /* INPUTS */
  --input-highlighted-focus: var(--primary-100);
  --input-highlighted-valid: var(--white);
  --input-border-highlighted-valid: var(--primary-100);

  /* DARK MODE */
  --dark-mode-bg-color: #151515;
  --dark-mode-text-color: #f0f0f0;
  --dark-mode-bg-second-color: #242424;
  --dark-mode-text-second-color: var(--grey-300);
  /* Sidebar */
  --dark-mode-bg-third-color: #1e1e1e;
  --dark-mode-text-third-color: #484848;

  --white-in-dark-mode: var(--dark-mode-bg-color);

  /* LIGHT MODE WHITE */
  --background-color: var(--white);
  --text-color: var(--grey-900);
  --background-second-color: var(--grey-30);
  --text-second-color: var(--grey-500);
  /* Sidebar */
  --background-third-color: var(--grey-50);
  --text-third-color: var(--grey-500);

  /* LOGO (Light Mode) */
  --logo-text-gradient: linear-gradient(
    45deg,
    var(--primary-400),
    var(--primary-900)
  );
  /* LOGO HOVER (Light Mode) */
  --logo-text-gradient-hover: linear-gradient(
    45deg,
    var(--primary2-400),
    var(--primary-800)
  );
}
/* ----------------- DARK MODE: ----------------- */
.dark-theme {
  /* BTN DARK */
  --btn-text-color: #e3e3e3;

  /* GENERAL DARK */
  --text-color: var(--dark-mode-text-color);
  --background-color: var(--dark-mode-bg-color);
  --text-second-color: var(--dark-mode-text-second-color);
  --background-second-color: var(--dark-mode-bg-second-color);
  --text-third-color: var(--dark-mode-text-third-color);
  --background-third-color: var(--dark-mode-bg-third-color);

  /* COMPONENTS: ALL TRENDS DARK MODE */
  --card-background: var(--dark-mode-bg-second-color);
  --card-highlight: var(--primary-400);
  --border-color: transparent;
  --small-card-bottom-row: var(--primary-400);
  --selector-main-color: var(--dark-mode-bg-color);
  --selector-dropdown-main-color: var(--primary-300);
  /* TREND PAGE DARK */
  --select-small-color: var(--dark-mode-bg-color);
  --select-small-dropdown-color: var(--primary-400);
  --content-row-component: var(--primary-400);
  --content-row-component-highlighted: var(--primary3-500);
  --content-row-component-item: var(--primary3-400);
  --content-box-highlighted: var(--primary-600);
  --code-box-background: #181818;
  --code-box-border-color: #323063;
  --code-box-text-color: #aeaeae;
  /* ADD TREND MODAL DARK*/
  --add-trend-modal-color: #dcdcdc;
  /* PROFILE DARK */
  --dropdown-background: #727272;
  --dropdown-background-hover: #454545;
  /* AREA CHART DARK */
  --color-under-the-line1: #4541de;
  --color-under-the-line2: #e976c7;
  --line-color: #4541de;
  /* BAR CHART DARK*/
  --bar-chart-color1: #4541de;
  --bar-chart-color2: #e976c7;
  --bar-chart-highlight: var(--primary2-700);
  /* FLASH CHART DARK (TrendFlashChart)*/
  --flash-chart-color1: #4541de;
  --flash-chart-color2: #e976c7;
  --flash-chart-line-color: #4541de;
  --tool-tip-background: #4541de;
  --admin-btn-icons: #babaab;
  --admin-btn-icons-hover: var(--primary2-300);
  --admin-btn-icons-active: var(--primary2-400);
  /* TOAST DARK */
  --toast-success-background: #343534;
  --toast-border-color: #343534;
  --toast-text-color: #fdfdfd;
  /* FILTER MOBILE DARK */
  --filter-btn-color: var(--dark-mode-bg-color);
  --filter-btn-border-color: #3f3f3f;
  --filter-btn-highlighted: var(--primary-200);
  --filter-btn-border-highlighted: var(--primary-300);
  --tech-item-background-color: #cfc7ff;
  /* INPUTS */
  --input-highlighted-focus: var(--primary-400);
  --input-highlighted-valid: #1d1d1d;
  --input-border-highlighted-valid: var(--primary-500);

  /* LOGO HOVER (Dark Mode) */
  --logo-text-gradient: linear-gradient(
    45deg,
    var(--primary2-400),
    var(--primary-800)
  );
  /* LOGO HOVER (Dark Mode) */
  --logo-text-gradient-hover: linear-gradient(
    45deg,
    var(--primary-400),
    var(--primary-900)
  );

  --white: var(--white-in-dark-mode);
  --red-dark: var(--red);
  --black: #e7e7e7;
  /* Re-defining Grey Colors for Dark Mode */
  --grey-5: #1a1a1a;
  --grey-30: #2a2a2a;
  --grey-50: #3a3a3a;
  --grey-70: #4a4a4a;
  --grey-100: #5a5a5a;
  --grey-200: #6a6a6a;
  --grey-300: #7a7a7a;
  --grey-400: #b6b6b6;
  --grey-500: #9a9a9a;
  --grey-600: #aaaaaa;
  --grey-700: #babaab;
  --grey-800: #cecece;
  --grey-900: #535353;

  /* LOGO CONTAINER (DARK MODE) */
  .logo-container:hover {
    /* Indented-Looking Box Shadow */
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.852);

    /* Change Text Gradient on Hover */
    --logo-text-gradient: var(--logo-text-gradient-hover);
  }

  .logo-container:active {
    /* Optional: Define styles for active (click) state if needed */
    box-shadow:
      inset 0 2px 3px rgba(0, 0, 0, 0.7),
      0 2px 2px rgba(0, 0, 0, 0.761);
    transform: translateY(0px);
  }
}
/* FONTS */
.trend-heading-thin {
  font-family: 'Mona Sans', sans-serif;
  font-weight: 300;
}

.trend-heading-bold {
  font-family: 'Mona Sans', sans-serif;
  font-weight: 700;
}

/* If you want to keep JetBrains Mono for code or "trend-font": */
.trend-font {
  font-weight: 500;
}
body {
  background: var(--background-color);
  color: var(--text-color);

  font-family:
    'Mona Sans',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

  font-weight: 400;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}

h1 {
  font-size: clamp(2rem, 5vw, 3rem); /* Large heading */
}

h2 {
  font-size: clamp(1.1rem, 3vw, 2rem); /* Medium heading */
}

h3 {
  font-size: clamp(1.2rem, 2.5vw, 2rem); /* Small heading */
}

h4 {
  font-size: clamp(1rem, 2vw, 1.5rem); /* Extra small heading */
}

h5 {
  font-size: clamp(0.8rem, 1.5vw, 1rem); /* Tiny heading */
}

/* BIGGER FONTS */
/* h1 {
  font-size: clamp(3rem, 6vw, 6rem);
}

h2 {
  font-size: clamp(2.5rem, 5vw, 5rem);
}

h3 {
  font-size: clamp(2rem, 4vw, 4rem);
}

h4 {
  font-size: clamp(1.5rem, 3vw, 3rem);
}

h5 {
  font-size: clamp(1rem, 2vw, 2rem);
}
 */

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}
html {
  scroll-behavior: smooth;
}
small,
.text-small {
  font-size: var(--small-text);
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* section */
.section {
  padding: 0.5rem 0;
  scroll-margin-top: 4rem;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1120px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
.section-title {
  text-align: center;
  margin-bottom: 1rem;
}
.section-title h2 {
  text-transform: uppercase;
}

/* LOGO CONTAINER */
.logo-container {
  transition:
    box-shadow 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.logo-container:hover {
  /* Indented-Looking Box Shadow */
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.1);

  /* Change Text Gradient on Hover */
  --logo-text-gradient: var(--logo-text-gradient-hover);
}

.logo-container:active {
  /* Optional: Define styles for active (click) state if needed */
  box-shadow:
    inset 0 2px 3px rgba(0, 0, 0, 0.2),
    0 2px 2px rgba(0, 0, 0, 0.1);
  transform: translateY(0px);
}

/* buttons */

.btn,
.btn-color {
  cursor: pointer;
  color: var(--btn-text-color);
  background: var(--grey-50);
  border: 1.5px solid var(--grey-70);
  border-radius: var(--input-radius-rounded);
  letter-spacing: var(--letter-spacing);
  padding: 0.6rem 0.75rem;
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--grey-100);
}
.btn-color:hover {
  background: var(--primary-200);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}
button:disabled {
  cursor: wait;
}
.danger-btn {
  color: var(--red-dark);
  background: var(--red-light);
}
.danger-btn:hover {
  color: var(--white);
  background: var(--red-dark);
}
/* Base styling for icon button */
.btn-icon {
  cursor: pointer;
  color: var(--admin-btn-icons); /* Default icon color */
  background: transparent; /* No background */
  border: none; /* No border */
  padding: 0; /* Remove any padding */
  transition: color var(--transition); /* Smooth color transition */
  display: inline-flex; /* Flex to align the icon itself */
  align-items: center; /* Center the icon */
  justify-content: center; /* Center the icon */
}

/* Hover state for icon button */
.btn-icon:hover {
  color: var(--admin-btn-icons-hover); /* Highlight color on hover */
}

/* Active (click) state for icon button */
.btn-icon:active {
  color: var(--admin-btn-icons-active); /* Change color on click */
}

/* Disabled state for icon button */
.btn-icon:disabled {
  cursor: wait;
  color: var(--grey-300); /* Disabled color */
}

/* Variants */

/* Hipster variant for icon button */
.btn-icon-hipster {
  color: var(--primary-500);
}

.btn-icon-hipster:hover {
  color: var(--primary-700);
}

/* Danger variant for icon button */
.btn-icon-danger {
  color: var(--red-dark);
}

.btn-icon-danger:hover {
  color: var(--gray-100); /* Keep the same color on hover */
}

.btn-icon-danger:active {
  color: var(--red-light); /* Lighten color on click */
}

/*TOAST STYLING CustomToast.css */
.Toastify__toast--error {
  /* content: url('./assets/images/test-logo.svg'); */
  background: var(--grey-50) !important;
  border: 0.5px var(--primary-700);
  border-radius: 0.5rem !important;
}
.Toastify__toast--error::after {
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left: 265px;
}
.Toastify__toast--error::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}
.Toastify__toast--success {
  border: 1px solid var(--toast-border-color);
  border-radius: var(--input-radius-rounded);
  background: var(--toast-success-background);
}
.Toastify__toast--success::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}
.Toastify__toast--success::after {
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  padding-top: 14px !important;
}
.Toastify__toast--warning {
  border: 1px solid #e78326 !important;
  border-radius: 50px !important;
  background: #fadfc5 !important;
}
.Toastify__toast--warning::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}
.Toastify__toast--warning::after {
  position: absolute;
  color: #e78326;
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  padding-top: 14px !important;
}
.Toastify__toast-body {
  color: var(--toast-text-color);
  font-size: 16px;
  padding-left: 20px;
  line-height: 20px;
  padding: 0px;
  width: 100%;
  font-weight: 400;
  margin-left: 15px !important;
}
.Toastify__toast {
  box-shadow: none;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--border-radius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* form */
.form {
  width: 100%; /* Adjusted to take up full width */
  background: var(--white); /* Changed to match better styling */
  border: 1.5px solid var(--grey-50); /* Changed to match better styling */
  border-radius: var(--border-radius);
  padding: 2rem 2rem 4rem; /* Adjusted padding */
  margin: 3rem auto;
}

.form-label {
  color: var(--grey-400);
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.1rem;
  margin-left: 0.1rem;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
  line-height: 1.5;
}

.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--input-radius-rounded);
  background: var(--background-color);
  border: 1.5px solid var(--grey-50); /* Changed to match better styling */
  color: var(--text-color);
}

.form-input:focus {
  outline: none;
  border-color: var(--input-highlighted-focus);
}

.form-input:valid {
  background-color: var(--input-highlighted-valid);
  border-color: var(--input-border-highlighted-valid);
}

.form-input:focus {
  background-color: var(--input-highlighted-valid);
}

.form-input:-webkit-autofill {
  background-color: var(--input-highlighted-valid) !important;
}

.form-input,
.form-select,
.form-btn {
  height: 40px;
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
}

/* Additional styling for better aesthetics */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.submit-container {
  clear: both;
  display: grid; /* Use grid to manage layout */
  grid-template-columns: 1fr; /* Default to single column layout */
  gap: 2rem; /* Gap between rows or columns */
}

@media (min-width: 1120px) {
  .submit-container {
    grid-template-columns: 1fr; /* Keep it a single column layout */
  }
}

.form-title {
  margin-bottom: 2rem;
}

.form-center {
  display: grid;
  row-gap: 1rem;
}

@media (min-width: 992px) {
  .form-center {
    grid-template-columns: 1fr 1fr; /* Two columns on wider screens */
    align-items: center;
    column-gap: 1rem;
  }
}

@media (min-width: 1120px) {
  .form-center {
    grid-template-columns: 1fr 1fr; /* Three columns on the widest screens */
  }
}

.form-btn {
  margin-top: 1rem;
  display: grid;
  align-items: center;
  place-items: center;
}

.delete-btn {
  height: 30px;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
}

.info-btn {
  margin-right: 0.5rem;
}

/* LOADER */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 8rem;
  height: 8rem;
  border: 5px solid var(--grey-70);
  border-radius: 50%;
  border-top-color: var(--grey-200);
  animation: spinner 0.6s linear infinite;
}

/* title */

.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.container {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
}
